@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
}

.dot {
  color: #076ab6;
}

ul > li::before {
  content: "•";
  color: #076ab6;
  padding-right: 3px;
}

.external-link::before {
  content: "🔗 ";
}
