@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
  --highlite-blue: #076ab6;
}

ul > li > p::before {
  content: "•";
  color: var(--highlite-blue);
  padding-right: 3px;
}

.external-link::before {
  content: "🔗 ";
}

.external-link:hover {
  color: var(--highlite-blue);
  @apply animate-pulse;
}
